@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-purple: #CAA3FE;
  --color-light-purple: #DFBBFF;
  --color-pink: #F3BFFE;
}
